header {
  background: #1e65ff;
  padding: 10px;
}

header h1 {
  color: #ffff;
  max-width: 1200px;
  margin: 0 auto;
}

h2{
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

.content{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
}



